<link rel="stylesheet" href="components/header/header.css" />

<!-- Top Header -->
<nav class="top-nav navbar navbar-expand-xxl border-bottom py-0">
  <div class="container">
    <!-- Left Navigation -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#topNav"
    >
      ☰ Menu
    </button>

    <div
      class="collapse navbar-collapse align-items-center justify-content-between fw-semibold"
      id="topNav"
    >
      <ul class="navbar-nav mt-xxl-0 mt-3">
        <li class="nav-item">
          <a href="#" class="nav-link"> Khối SK</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Khối KHCB </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Khối KT-CN </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Khối KD-KT </a>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            id="khxhnv-dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Khối KHXH&NV
          </a>
          <ul class="dropdown-menu" aria-labelledby="khxhnv-dropdown">
            <li class="dropdown-item p-0">
              <a href=""> Khoa Ngôn ngữ Anh </a>
            </li>
            <li class="dropdown-item p-0">
              <a href=""> Khoa Ngôn ngữ và văn hoá Hàn Quốc </a>
            </li>
            <li class="dropdown-item p-0">
              <a href=""> Khoa Ngôn ngữ và văn hoá Nhật Bản </a>
            </li>
            <li class="dropdown-item p-0">
              <a href=""> Khoa Truyền thông </a>
            </li>
            <li class="dropdown-item p-0">
              <a href="">Khoa Du lịch</a>
            </li>
            <li class="dropdown-item p-0">
              <a href=""> Khoa Nghệ thuật và Thiết kế </a>
            </li>
            <li class="dropdown-item p-0">
              <a href=""> Khoa Tâm lý và Khoa học Giáo dục </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Viện-Trung tâm </a>
        </li>
      </ul>

      <!-- Right Navigation -->
      <ul class="navbar-nav align-items-xxl-center">
        <li class="nav-item">
          <a href="#" class="nav-link"> Trang chủ </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Ngành học </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> VR Tour </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Nộp hồ sơ xét tuyển online </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> Liên hệ </a>
        </li>

        <!-- Language Dropdown -->
        <li class="nav-item dropdown language-dropdown">
          <a
            class="nav-link dropdown-toggle gap-2 d-flex align-items-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="assets/icon/language-english-flag.svg"
              alt="English Flag"
            />
            English
            <span class="chevron-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-language-menu">
            <li class="dropdown-item">
              <a href="/vi">
                <img
                  src="assets/icon/language-flag.svg"
                  alt="Vietnamese Flag"
                />
                Tiếng Việt
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/en">
                <img
                  src="assets/icon/language-english-flag.svg"
                  alt="English Flag"
                />
                English
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Bottom Header -->
<nav
  class="navbar bot-nav navbar-expand-xxl bg-white border-bottom sticky-top py-0"
>
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/logo/logo-ngang.png" alt="Dai Nam" />
    </a>

    <!-- Mobile Menu Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#bottomNav"
    >
      ☰
    </button>

    <!-- Bottom Nav Links -->
    <div class="collapse navbar-collapse" id="bottomNav">
      <ul class="navbar-nav ms-auto fw-bold fs-5 gap-2">
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link py-3 dropdown-toggle"
            id="gt-dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Giới thiệu</a
          >
          <ul class="dropdown-menu" aria-labelledby="gt-dropdown">
            <li class="dropdown-item">
              <a href=""> Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Cơ sở vật chất </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Lịch sử phát triển </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Đội ngũ giảng viên </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Ban giám hiệu </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Hệ sinh thái học tập của SV Đại Nam </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Đào tạo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Hợp tác đối ngoại</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Tuyển sinh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Ba công khai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Tin tức & Sự kiện</a>
        </li>
        <li class="nav-item" selected id="nav-search-icon">
          <a class="nav-link py-3 active" href="#">
            <img src="assets/icon/search.svg" alt="" />
          </a>
        </li>

        <div class="search-container d-none" id="nav-search">
          <img
            src="assets/icon/input-search.svg"
            class="search-icon px-3"
            alt=""
          />

          <input
            type="text"
            class="search-input fw-semibold border-0"
            placeholder="Bạn đang tìm kiếm gì?"
            id="nav-search-input"
          />
          <span class="py-3 px-4 fs-4 fw-lighter" id="clear-search">✖</span>
        </div>
      </ul>
    </div>
  </div>
</nav>
