<link rel="stylesheet" href="components/header/header.css" />

<!-- Top Header -->
<div class="top-nav-container">
  <div
    class="top-nav container-fluid container-xxl fw-semibold justify-content-between d-block d-xl-flex"
  >
    <div class="dropdown click-dropdown top-left-nav pt-xl-0 pt-3 ms-2">
      <a
        class="dropdown-toggle d-xxl-none d-flex align-items-center h-100 gap-2 user-select-none justify-content-between"
        id="kvtt-dropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        role="button"
      >
        Khoa - Viện - Trung tâm
        <span class="chevron-down"></span>
      </a>
      <ul
        class="d-xxl-flex kvtt-dropdown-menu dropdown-click-menu"
        aria-labelledby="kvtt-dropdown"
      >
        <li class="nav-item">
          <a
            href="#"
            class="nav-link px-2 d-xxl-block d-flex justify-content-between align-items-center pe-xxl-2 pe-3"
          >
            Khối SK
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link px-2 d-xxl-block d-flex justify-content-between align-items-center pe-xxl-2 pe-3"
          >
            Khối KHCB
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link px-2 d-xxl-block d-flex justify-content-between align-items-center pe-xxl-2 pe-3"
          >
            Khối KT-CN
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link px-2 d-xxl-block d-flex justify-content-between align-items-center pe-xxl-2 pe-3"
          >
            Khối KD-KT
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link px-2 dropdown-toggle d-xxl-block d-flex justify-content-between align-items-center pe-xxl-2 pe-3"
            id="khxhnv-dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Khối KHXH&NV
            <span class="chevron-down d-xl-none"></span>
          </a>
          <ul
            class="dropdown-menu khxhnv-dropdown-menu ps-3 ps-xl-0 pt-0 pt-xl-2"
            aria-labelledby="khxhnv-dropdown"
          >
            <li class="dropdown-item">
              <a href=""> Khoa Ngôn ngữ Anh </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Khoa Ngôn ngữ và văn hoá Hàn Quốc </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Khoa Ngôn ngữ và văn hoá Nhật Bản </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Khoa Truyền thông </a>
            </li>
            <li class="dropdown-item">
              <a href="">Khoa Du lịch</a>
            </li>
            <li class="dropdown-item">
              <a href=""> Khoa Nghệ thuật và Thiết kế </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Khoa Tâm lý và Khoa học Giáo dục </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link px-2 d-xxl-block d-flex justify-content-between align-items-center pe-xxl-2 pe-3"
          >
            Viện-Trung tâm
          </a>
        </li>
      </ul>
    </div>

    <!-- Right Navigation -->
    <ul class="row top-right-nav ms-xl-0">
      <li class="col-6 col-xl p-0 ms-0 nav-item border-0">
        <a href="#" class="nav-link px-2 ps-4 ps-xl-2"> Trang chủ </a>
      </li>
      <li class="col-6 col-xl p-0 ms-0 nav-item border-0">
        <a href="#" class="nav-link px-2 ps-4 ps-xl-2"> Ngành học </a>
      </li>
      <li class="col-6 col-xl p-0 ms-0 nav-item border-0">
        <a href="#" class="nav-link px-2 ps-4 ps-xl-2"> VR Tour </a>
      </li>
      <li class="col-6 col-xl p-0 ms-0 nav-item border-0">
        <a href="#" class="nav-link px-2 ps-4 ps-xl-2">
          Nộp hồ sơ xét tuyển online
        </a>
      </li>
      <li class="col-6 col-xl p-0 ms-0 nav-item border-0">
        <a href="#" class="nav-link px-2 ps-4 ps-xl-2"> Liên hệ </a>
      </li>

      <!-- Language Dropdown -->
      <li
        class="col-12 col-xl ps-3 ps-xl-0 p-0 ms-0 nav-item dropdown click-dropdown"
      >
        <a
          class="nav-link px-2 dropdown-toggle gap-2 d-flex align-items-center"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="assets/icon/language-english-flag.svg" alt="English Flag" />
          English
          <span class="chevron-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-click-menu w-25">
          <li class="dropdown-item">
            <a href="/vi">
              <img src="assets/icon/language-flag.svg" alt="Vietnamese Flag" />
              Tiếng Việt
            </a>
          </li>
          <li class="dropdown-item">
            <a href="/en">
              <img
                src="assets/icon/language-english-flag.svg"
                alt="English Flag"
              />
              English
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- Bottom Header -->
<nav
  class="bot-nav-container navbar bot-nav navbar-expand-xl border-bottom sticky-top py-0"
>
  <div class="container-fluid container-xxl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/logo/logo-ngang.png" alt="Dai Nam" />
    </a>

    <div class="d-flex align-items-center justify-content-end flex-fill">
      <!-- mobile search -->
      <div class="p-3 nav-search-icon d-xl-none" role="button">
        <img src="assets/icon/search.svg" alt="" />
      </div>

      <div class="search-container d-none nav-search flex-fill">
        <img
          src="assets/icon/input-search.svg"
          class="search-icon px-3"
          alt=""
        />

        <input
          type="text"
          class="search-input fw-semibold border-0 nav-search-input"
          placeholder="Bạn đang tìm kiếm gì?"
        />
        <span class="py-3 px-4 fs-4 fw-lighter clear-search-icon" role="button">
          ✕
        </span>
      </div>

      <!-- Mobile Menu Toggle Button -->
      <div
        class="navbar-toggler border-0 fs-2 py-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#bottom-nav"
      ></div>
    </div>

    <!-- Bottom Nav Links -->
    <div class="collapse navbar-collapse" id="bottom-nav">
      <ul class="navbar-nav ms-auto fw-bold fs-5 gap-2">
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link py-3 pe-3 dropdown-toggle d-flex align-items-center justify-content-between"
            id="gt-dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Giới thiệu
            <span class="chevron-down d-xl-none"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="gt-dropdown">
            <li class="dropdown-item">
              <a href=""> Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Cơ sở vật chất </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Lịch sử phát triển </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Đội ngũ giảng viên </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Ban giám hiệu </a>
            </li>
            <li class="dropdown-item">
              <a href=""> Hệ sinh thái học tập của SV Đại Nam </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Đào tạo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Hợp tác đối ngoại</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Tuyển sinh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Ba công khai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3" href="#">Tin tức & Sự kiện</a>
        </li>
        <li
          class="nav-item nav-search-icon d-none d-xl-block"
          selected
          role="button"
        >
          <img class="nav-link py-3" src="assets/icon/search.svg" alt="" />
        </li>

        <div class="search-container d-none nav-search">
          <img
            src="assets/icon/input-search.svg"
            class="search-icon px-3"
            alt=""
          />

          <input
            type="text"
            class="search-input fw-semibold border-0 nav-search-input"
            placeholder="Bạn đang tìm kiếm gì?"
          />
          <span
            class="py-3 px-4 fs-4 fw-lighter clear-search-icon"
            role="button"
          >
            ✕
          </span>
        </div>
      </ul>

      <!-- mobile responive => topmenu will be injected here -->
    </div>
  </div>
</nav>
