@media (max-width: 991.98px) {
  .title-event {
    font-size: 24px !important;
    line-height: 36px !important;
  }

  .title-location {
    font-size: 14px;
  }

  .detail-location {
    font-size: 14px;
    font-weight: 700;
  }

  .border-left-custom {
    border-left: 3px solid #f66600;
    padding-left: 0.75rem;
  }

  .share-social {
    font-size: 12px !important;
  }

  .hidding-stack {
    display: none !important;
  }

  .border-sm-none {
    border: none !important;
  }

  .detail-content {
    font-size: 16px !important;
    line-height: 27.2px !important;
  }
}

.title-location .detail-location {
  font-size: 18px;
}

@media (min-width: 1200px) {
  .title-event {
    line-height: 56px;
  }
  .title {
    line-height: 56px;
  }
  .content {
    max-width: 898px;
  }
  .relevant-title {
    font-size: 26px;
  }
  .see-all {
    font-size: 18px;
  }
  .badge {
    padding: 0.815rem 0.75rem !important;
  }
}
.relevant-title {
  font-size: 26px;
}
@media (max-width: 1199.98px) {
  .title {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 991.98px) {
  .post-item .row {
    --bs-gutter-x: 1rem;
  }
  .post-item-title {
    font-size: 12px !important;
  }
  .subtitle {
    font-size: 14px !important;
  }
  .see-all {
    font-size: 18px;
  }

  .see-all {
    font-size: 18px;
  }
  .share-content,
  .badge {
    font-size: 12px;
  }

  .badge {
    padding: 0.56rem 0.465rem !important;
  }
  .see-all-icon {
    width: 18.3px;
    height: 18.3px;
  }
}
.post-item {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(218, 220, 224, 0.85);
}
.post-item:last-of-type {
  border-bottom: none;
}

@media (max-width: 575.98px) {
  .side-content {
    padding-right: 0;
  }
  .post-item .row {
    --bs-gutter-x: 0;
  }
  .side-menu-img {
    padding-left: 0;
    width: 120px;
  }
  .post-item .container {
    padding: 0;
  }
  .post-item .container > * {
    padding-left: var(--padding-sm-container);
  }
  .post-item .col-8 {
    padding-left: 1rem;
    padding-right: 6px;
    width: calc(100% - 120px);
  }
}
