/* khoa banner */
.khoa-banner {
  padding: 38px 0 42px;
}
.khoa-title {
  font-size: calc(2.175rem + 1vw);
  margin-top: 0.4rem;
}
.khoa-content {
  line-height: 32.4px;
}
@media (min-width: 1200px) {
  .khoa-title {
    font-size: 3.375rem;
  }
}
@media (max-width: 991.98px) {
  .khoa-title {
    font-size: 1.625rem;
  }
  .khoa-title-top {
    font-size: 18px !important;
  }
  .khoa-content {
    font-size: 13px;
    line-height: 20.8px;
  }
}
.khoa-banner-img {
  max-height: 570px;
  object-fit: cover;
}

/* quote */
.quote {
  padding-bottom: 2.5rem;
}
.quote-ts-img {
  max-width: 100%;
  object-fit: contain;
}
.quote-bg-icon {
  right: 12%;
}
.quote-content {
  max-width: 860px;
  line-height: 35px;
}
@media (max-width: 991.98px) {
  .quote {
    padding-top: 2.25rem;
  }
  .quote-content {
    font-size: 1rem;
    line-height: 25.6px;
  }
  .quote-name {
    font-size: 1rem;
  }
  .quote-desc {
    font-size: 14px;
  }
  .quote-ts-img {
    width: 270px;
    height: 318px;
  }
  .quote {
    padding-bottom: 2.2rem;
  }
}
/* numbers */
.number-item:not(:first-child) > * {
  padding-left: 1rem;
  border-left: 1px solid rgba(5, 6, 8, 0.1);
}
.numbers-row:nth-child(even) {
  color: var(--background-blue);
}
.numbers-row:nth-child(odd) {
  color: var(--secondary-color);
}
.number-item-title {
  font-size: calc(3rem + 1.25vw);
  letter-spacing: -2px;
}
@media (min-width: 1200px) {
  .number-item-title {
    font-size: 66px;
  }
  .numbers-row:not(:first-child) {
    margin-top: 2.5rem;
  }
  .numbers {
    padding-bottom: 3.5rem !important;
  }
}
@media (max-width: 991.98px) {
  .numbers-title {
    line-height: 42px;
  }
  .number-item-title {
    font-size: 38px;
  }
  .number-item-desc {
    font-size: 14px;
  }
  .number-item:not(:first-child) > * {
    padding-left: 0;
    border-left: none;
  }
  .number-item {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba(5, 6, 8, 0.1);
  }
  .number-item:nth-child(odd) {
    padding-left: 0;
  }
  .number-item:nth-child(even) {
    padding-right: 0;
  }
  .number-item:nth-child(3):nth-last-child(1) {
    border-bottom: none;
  }
  .numbers-row > :nth-child(-n + 2) {
    color: var(--background-blue);
  }
  .numbers-row > :nth-child(n + 3) {
    color: var(--secondary-color);
  }
}

/* key-features */
.key-features-img {
  max-height: 420px;
  object-fit: cover;
}
.key-features-item {
  max-width: 650px;
}
@media (max-width: 991.98px) {
  .key-features-item-title {
    font-size: 20px !important;
  }
}
@media (min-width: 1200px) {
  .key-features {
    padding-bottom: 58px !important;
  }
}
/* trainings */
.trainings-container {
  border-top: 1px solid rgba(27, 77, 161, 0.85);
}
.trainings-desc {
  max-width: 613px;
  line-height: 29px;
  max-width: 650px;
}
.trainings-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.5rem 30px 1.5rem 0.75rem;
  cursor: pointer;
}
.trainings-container-top {
  margin-top: 2rem;
}
.trainings-item-title,
.trainings-item-desc {
  transition: color 0.1s ease-in;
}
.trainings-item:hover .trainings-item-title {
  color: var(--secondary-color);
}
.trainings-item:hover .trainings-item-desc {
  color: #fff;
}
.trainings-item img {
  padding: 2rem 0 2rem 1.5rem;
}
@media (min-width: 1200px) {
  .trainings {
    padding-top: 3.5rem !important;
  }
  .trainings-item-title {
    font-size: 26px;
  }

  .trainings-container-bot .trainings-item {
    padding-bottom: 6rem;
  }
}
@media (min-width: 992px) {
  .trainings-item:not(:first-child) {
    padding-left: 30px;
  }
  .trainings-item {
    padding-bottom: 4.5rem;
  }
  .trainings-item:nth-child(2) {
    border-left: 1px solid rgba(27, 77, 161, 0.85);
    border-right: 1px solid rgba(27, 77, 161, 0.85);
  }
}
@media (max-width: 991.98px) {
  .trainings-item-title {
    font-size: 20px;
  }
  .trainings-container-top {
    margin-top: 1rem;
  }
  .trainings-items-title {
    font-size: 20px;
  }
  .trainings-item-desc {
    font-size: 14px;
    color: var(--light-blue-color) !important;
  }
  .trainings-item {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-right: 1rem;
    align-items: end;
  }
  .trainings-item img {
    padding: 0;
  }
  .trainings-item {
    border-bottom: 1px solid rgba(224, 236, 255, 0.12);
  }
  .trainings-container:not(.trainings-container-top) {
    border-top: none;
  }
}

/* partner */
.partner-swiper .swiper-pagination-bullet {
  background-color: rgba(5, 6, 8, 1) !important;
  opacity: 0.2;
  width: 1rem;
  height: 1rem;
  margin: 1rem !important;
}
.partner-swiper .swiper-pagination-bullet:hover {
  opacity: 0.5;
}
.partner-swiper .swiper-pagination-bullet-active {
  background-color: rgba(242, 116, 35, 1) !important;
  opacity: 1;
}
.partner-swiper {
  height: 13rem;
}
@media (min-width: 992px) {
  .partner-swiper img {
    width: 100%;
  }
  .partner-desc {
    padding-left: 2rem;
  }
}
@media (max-width: 991.98px) {
  .partner {
    padding: 36px 0 !important;
  }
  .partner-swiper .swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
    height: 186px;
  }
  .partner-swiper .swiper-slide img {
    height: 93px;
  }
  .partner-swiper .swiper-pagination {
    bottom: -1rem;
  }
  .partner-swiper .swiper-pagination-bullet {
    width: 0.625rem;
    height: 0.625rem;
  }
}

/* teachers */
.teacher-item {
  width: 100%;
  min-width: 305px;
}
.teacher-img {
  border-radius: 0.875rem;
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.teacher-list,
.teacher-row {
  gap: 30px;
}
@media (min-width: 1200px) {
  .teachers {
    padding-bottom: 3.3rem !important;
  }
  .teacher-list,
  .teacher-row:not(:first-child) {
    margin-top: 30px !important;
  }
}
@media (max-width: 991.98px) {
  .teachers {
    padding: 2rem 0 !important;
  }
  .teacher-name {
    font-size: 20px !important;
  }
  .teacher-img {
    width: 304px;
    height: 357px;
  }
}

/* shares */
.shares-bg-icon {
  left: 3rem;
  width: 30vw;
  max-width: 30rem;
  min-width: 20rem;
}
.shares .nav-tabs {
  margin-top: 2.2rem;
}
.feeling-person-img {
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  width: 48px;
  aspect-ratio: 1;
  transition: width 0.2s ease-in-out;
}
.feeling-person-img.active {
  width: 72px;
}

.share-content {
  max-width: 857px;
  line-height: 35px;
}
@media (min-width: 1200px) {
  .shares {
    padding: 3.1rem 0 3.5rem !important;
  }
}
@media (max-width: 991.98px) {
  .share-content {
    font-size: 1rem;
    line-height: 25.6px;
  }
  .shares .nav-tabs {
    gap: 2.5rem;
  }
  .shares .tab-pane .color-primary {
    font-size: 16px !important;
  }
  .shares {
    padding-bottom: 2.2rem !important;
  }
  .share-person-name {
    font-size: 18px;
  }
  .share-person-desc {
    margin-top: 2px;
    font-size: 14px;
  }
}
/* student life */
.gallery-desc {
  max-width: 708px;
  line-height: 29px;
}
@media (max-width: 991.98px) {
  .gallery-desc {
    line-height: 25.6px;
  }
}
.student-life {
  padding: 3.5rem 0;
}
.student-life img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.student-img-row-2 {
  margin-top: 2rem;
}
.gutter-x-2 {
  --bs-gutter-x: 1.7rem;
}
.student-img-row-2 img {
  aspect-ratio: 1;
}
.student-life .see-more-container {
  cursor: pointer;
  height: 170px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 58.5%,
    #ffffff 100%
  );
}
.student-life .see-more-icon {
  width: 13px;
  height: 13px;
  border-right: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
  transform: rotate(45deg);
  margin-bottom: 5px;
}
@media (max-width: 767.98px) {
  .student-life {
    padding: 2.2rem 0;
  }
  .student-img-row-1,
  .student-img-row-2 {
    margin-top: 1.2rem !important;
  }
  .gutter-x-2 {
    --bs-gutter-x: 1.2rem !important;
  }
}

/* contact */
.contact-list-container {
  padding-left: 2.5rem;
  position: relative;
  /* border-left: 5px solid var(--secondary-color); */
}
.contact-list-container::before {
  position: absolute;
  content: "";
  height: calc(100% - 14px);
  width: 5px;
  background-color: var(--secondary-color);
  left: 0;
  top: 7px;
}
.contact-item a {
  color: var(--background-blue);
  font-weight: 700;
}
.contact-item {
  list-style-type: initial;
}
@media (max-width: 991.98px) {
  .contact-item {
    font-size: 1rem;
  }
  .contact-item::marker {
    font-size: 0.8rem;
  }
}
