.main-img {
  width: 392px;
  height: 460px;
  border-radius: 10px;
}

@media (min-width: 1199.98px) {
  .title {
    line-height: 3rem;
    font-size: 36px;
  }
}
@media (max-width: 1200px) {
  .main-img {
    width: 100%;
    max-width: 352px;
    height: auto;
    aspect-ratio: 352 / 413;
  }
}
@media (max-width: 767.98px) {
  .title {
    line-height: 33px;
    max-width: 352px;
    font-size: 24px !important;
  }
  .description-container *:not(.title) {
    font-size: 1rem !important;
  }
  .teacher-detail-bg-icon {
    top: 30% !important;
    max-width: 62vw;
  }
}
