:root {
  --primary-color: rgba(4, 11, 36, 1);
  --secondary-color: rgba(255, 119, 0, 1);
  --background-blue: rgba(2, 20, 87, 1);
  --background-blue: rgba(2, 20, 87, 1);
  --background-off-white: rgba(244, 246, 252, 0.8);
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  cursor: pointer;
}

.color-primary {
  color: var(--primary-color);
}
.color-secondary {
  color: var(--secondary-color);
}
.bg-blue {
  background-color: var(--background-blue);
}
.bg-off-white {
  background-color: var(--background-off-white);
}

/* header */
.top-nav-selected {
  position: relative;
  font-size: 17px;
}
.top-nav-selected::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

/* banner swiper */
.banner-swiper .swiper-wrapper {
  aspect-ratio: 2.5;
}
.banner-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}
.banner-swiper .swiper-pagination-bullet {
  background-color: #fff !important;
}

/* specialization */
.specialization-item {
  font-size: 1vw;
  white-space: nowrap;
}
@media (min-width: 1300px) {
  .specialization-item {
    font-size: 0.8rem;
  }
}
@media (max-width: 1199px) {
  .specialization-item {
    font-size: 1rem;
  }
}

.specialization-item:not(:last-child) {
  border-bottom: 1px solid rgba(6, 18, 62, 0.15);
}

/* reason */
.title-reason {
  height: 100px;
}
.reason-item {
  display: flex;
  flex-direction: column-reverse;
  min-height: 89px;
}
.underline-item {
  color: #fff;
  padding: 20px 0;
  font-weight: 600;
}
.underline-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.title-reason-desc {
  font-size: 0.9rem;
}
.reason-img-container {
  margin-left: -20px;
  position: relative;
}
.reason-img-1 {
  height: 140px;
  margin-left: 60px;
}
.reason-img-2 {
  height: 140px;
  margin: 80px 0 70px 120px;
}
.reason-img-3 {
  margin-left: 20px;
  height: 130px;
}

/* partner */
.nav-link.active {
  border-bottom: none;
  position: relative;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: var(--secondary-color);
}
.partner-swiper .swiper-pagination-bullet {
  background-color: var(--secondary-color) !important;
}
.partner-swiper .swiper-slide img {
  width: 100%;
  margin-bottom: 20px;
}

/* student */
.student-img-container {
  position: relative;
}
.student-img-1 {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 220px;
}
.student-img-2 {
  margin: 40px 0 0 60%;
  width: 200px;
}
.student-img-3 {
  position: absolute;
  left: 0;
  width: 400px;
  bottom: 0;
  max-width: 25vw;
}

/* new-event */
.new-event-list-container {
  margin: 0 -20px;
}
.new-event-list-container img {
  width: 100%;
  cursor: pointer;
}
.new-event-desc {
  cursor: pointer;
}
.new-event-item {
  padding: 0 20px;
  margin-top: 2rem;
}

/* admissions  */
.admissions .admissions-content {
  padding-bottom: 0;
}
.admissions-student {
  position: static;
  width: 50%;
  margin: 30px auto 0;
}
.admissions-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
@media (min-width: 1200px) {
  .admissions .admissions-content {
    padding-bottom: 15%;
  }
  .admissions-icon {
    height: 85%;
  }
  .admissions-student {
    position: absolute;
    left: 50%;
    width: 50%;
    bottom: 0;
    height: calc(100% + 20px);
    object-fit: contain;
  }
}

.to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border-radius: 50px;
}

/* footer */
footer .social-icon {
  padding: 10px;
  cursor: pointer;
}
