/* admission */
.register-form {
  background-color: rgba(244, 246, 252, 0.45);
}
.register-form form {
  background-color: rgba(244, 246, 252, 1);
  padding: 1rem 1.5rem;
  max-width: 762px;
}
.register-form input,
.register-form .form-select {
  border-radius: 9px;
  height: 2.8125rem;
  font-size: 1rem;
}
.register-form .form-select {
  background-position-x: calc(100% - 20px), calc(100% - 12px);
}
.admission-submit-btn {
  background-color: var(--secondary-color);
  border-radius: 9px;
  margin: 1rem 0 1.2rem;
  padding: 0.65rem 0;
}
@media (max-width: 991.98px) {
  .register-form form {
    border: none !important;
    padding: 1rem 1rem;
  }
  .register-form input,
  .register-form .form-select {
    border: 1px solid rgba(116, 117, 122, 1) !important;
  }
  .admission-submit-btn {
    margin-bottom: 0.6rem;
  }
  .register-form input,
  .register-form .form-select {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }
  .admission-submit-btn {
    font-size: 20px !important;
  }
}
@media (min-width: 992px) {
  .register-form input,
  .register-form .form-select {
    font-size: 1.25rem;
    height: 3.5rem;
  }
  .admission-submit-btn {
    margin: 1.3rem 0 1.5rem;
    padding: 0.875rem 0;
  }
  .register-form form {
    padding: 1.5rem 2.4rem;
  }
}
.input-name-phone {
  gap: 2.5rem;
}
.register-form input::placeholder {
  opacity: 0.45;
  font-weight: 400;
}
.register-form .form-select {
  --bs-form-select-bg-img: url("../../assets/icon/form-chevron-down-bg-img.svg");
}
.admission-submit-btn:hover {
  background-color: var(--red-color);
}
.admissions-student {
  object-fit: cover;
  height: 45vw;
  min-height: 450px;
  max-height: 750px;
}
.admissions-student-sm {
  object-fit: contain;
  height: auto;
  min-height: auto;
  right: -12px;
}
.register-form .speech-bubble {
  width: 300px;
  max-height: fit-content;
  bottom: -10vw;
  font-size: 22px;
}
.register-form .speech-bubble.position-absolute {
  top: 8rem;
  right: 13rem;
}
.register-form .speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: 1.5rem;
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 0;
  border-top: 1.2rem solid var(--background-blue);
}
.register-form .speech-bubble.position-absolute::after {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.register-form-desc {
  max-width: 745px;
}
@media (max-width: 991.98px) {
  .form-label {
    font-size: 0.875rem;
  }
  .register-form .speech-bubble::after {
    right: 5.5rem;
  }
  .register-form-desc {
    font-size: 1rem;
    margin-bottom: -1rem;
  }
}
@media (max-width: 1199.98px) {
  .register-form .speech-bubble.position-absolute {
    top: 6rem;
  }
}
@media (max-width: 1399.98px) {
  .register-form .speech-bubble.position-absolute {
    top: 16rem;
    right: 6rem;
  }
}
