<link rel="stylesheet" href="components/register-form/register-form.css" />

<section class="register-form pt-5 pb-lg-5 pb-4 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-12 color-primary">
        <div class="register-form-top-content px-lg-0">
          <h2 class="fw-extra">
            Đăng ký tư vấn
            <br class="d-lg-none d-block" />
            tuyển sinh 2025
          </h2>
          <div class="fw-medium fs-5-5 mt-3 mt-lg-4 register-form-desc">
            Năm 2025, Trường Đại học Đại Nam tuyển sinh
            <span class="fw-extra">36 ngành đào tạo</span>
            thuộc các khối ngành: Sức khoẻ, Kỹ thuật - Công nghệ, Kinh tế - Kinh
            doanh và Khoa học Xã hội & Nhân văn.
          </div>
        </div>

        <div class="d-lg-none d-flex flex-column speech-bubble-sm-container">
          <div
            class="speech-bubble speech-bubble-sm bg-blue text-white fs-5 py-3 ps-4 pe-2 rounded-4 position-relative"
          >
            Đăng ký ngay để nhận <br />
            <span class="fw-extra">
              Quỹ học bổng và hỗ trợ học phí lên tới
              <span class="color-secondary"> 55 tỷ đồng</span>
            </span>
          </div>
          <div class="d-flex justify-content-end">
            <img
              src="assets/img/form-bg-sm.png"
              width="90%"
              class="admissions-student admissions-student-sm position-relative"
            />
          </div>
        </div>

        <form
          class="mt-lg-4 border rounded-3 fs-5 position-relative bg-off-white"
          novalidate
        >
          <div class="z-1 position-relative">
            <div class="d-lg-flex input-name-phone">
              <div class="w-100">
                <label for="admission-hvt" class="form-label fw-medium">
                  Họ và tên
                </label>
                <input
                  type="text"
                  class="form-control fw-extra"
                  id="admission-hvt"
                  name="admission-hvt"
                  placeholder="Nhập họ và tên(*)"
                  required
                />
                <div class="invalid-feedback">
                  Bạn cần nhập lại thông tin này.
                </div>
              </div>
              <div class="w-100 mt-2 mt-lg-0">
                <label for="admission-sdt" class="form-label fw-medium">
                  Số điện thoại
                </label>
                <input
                  type="tel"
                  class="form-control fw-extra"
                  id="admission-sdt"
                  name="admission-sdt"
                  placeholder="Nhập số điện thoại(*)"
                  inputmode="numeric"
                  pattern="[0-9]*"
                  required
                />
                <div class="invalid-feedback">
                  Bạn cần nhập lại thông tin này.
                </div>
              </div>
            </div>

            <label
              for="admission-email"
              class="form-label fw-medium mt-lg-4 mt-3"
            >
              Email
            </label>
            <input
              type="email"
              class="form-control fw-extra"
              id="admission-email"
              name="admission-email"
              placeholder="Nhập email(*)"
              required
            />
            <div class="invalid-feedback">Bạn cần nhập lại thông tin này.</div>

            <label for="admission-dc" class="form-label fw-medium mt-lg-4 mt-3">
              Địa chỉ
            </label>
            <input
              type="text"
              class="form-control fw-extra"
              id="admission-dc"
              name="admission-dc"
              placeholder="Nhập địa chỉ(*)"
              required
            />
            <div class="invalid-feedback">Bạn cần nhập lại thông tin này.</div>

            <label
              for="admission-hdt-select"
              class="form-label fw-medium mt-lg-4 mt-3"
            >
              Hệ đào tạo
            </label>
            <div class="dropdown">
              <button
                class="dropdown-toggle form-select form-select-lg"
                type="button"
                id="admission-hdt-select"
                name="admission-hdt-select"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Select option
              </button>
              <ul
                class="dropdown-menu w-100"
                aria-labelledby="admission-hdt-select"
              >
                <li class="dropdown-item" selected data-value="1">
                  <div class="fs-5 form-select-item">Đào tạo Đại học</div>
                </li>
                <li class="dropdown-item" data-value="2">
                  <div class="fs-5 form-select-item">Đào tạo Tiểu học</div>
                </li>
                <li class="dropdown-item" data-value="3">
                  <div class="fs-5 form-select-item">Đào tạo Trung học</div>
                </li>
                <li class="dropdown-item" data-value="4">
                  <div class="fs-5 form-select-item">Đào tạo Cao đẳng</div>
                </li>
              </ul>

              <input
                type="hidden"
                name="admission-hdt"
                id="admission-hdt"
                value="1"
                required
              />
            </div>

            <label
              for="admission-nhqt-select"
              class="form-label fw-medium mt-lg-4 mt-3"
            >
              Ngành học quan tâm
            </label>
            <div class="dropdown mb-2">
              <button
                class="dropdown-toggle form-select form-select-lg"
                type="button"
                id="admission-nhqt-select"
                name="admission-nhqt-select"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Select option
              </button>
              <ul class="dropdown-menu w-100" aria-labelledby="admission-nhqt">
                <li class="dropdown-item" selected data-value="1">
                  <div class="fs-5 form-select-item">
                    Logistic & quản lý chuỗi cung ứng
                  </div>
                </li>
                <li class="dropdown-item" data-value="2">
                  <div class="fs-5 form-select-item">
                    Logistic & quản lý chuỗi cung ứng 2
                  </div>
                </li>
                <li class="dropdown-item" data-value="3">
                  <div class="fs-5 form-select-item">
                    Logistic & quản lý chuỗi cung ứng 3
                  </div>
                </li>
                <li class="dropdown-item" data-value="4">
                  <div class="fs-5 form-select-item">
                    Logistic & quản lý chuỗi cung ứng 4
                  </div>
                </li>
              </ul>

              <input
                type="hidden"
                id="admission-nhqt"
                name="admission-nhqt"
                value="1"
                required
              />
            </div>
            <button
              class="btn btn-warning border-0 w-100 text-white fw-extra fs-4 admission-submit-btn"
              type="submit"
            >
              Đăng ký nhận tư vấn
            </button>
          </div>
          <img
            src="assets/icon/admission-form-bg-icon.svg"
            alt=""
            width="70%"
            class="bg-icon end-0 bottom-0 admission-form-bg-icon"
          />
        </form>
      </div>
    </div>
  </div>

  <div
    class="speech-bubble bg-blue text-white fs-4-5 p-3 rounded-4 position-absolute d-lg-block d-none"
    style="line-height: 35px"
  >
    Đăng ký ngay để nhận <br />
    <span class="fw-extra">
      Quỹ học bổng và hỗ trợ học phí lên tới
      <span class="color-secondary"> 55 tỷ đồng</span>
    </span>
  </div>

  <img
    src="assets/img/admissions-student.png"
    height="35vw"
    class="d-lg-block d-none position-absolute end-0 bottom-0 admissions-student"
  />
</section>
