<link rel="stylesheet" href="./components/footer/footer.css" />

<footer class="py-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <img src="assets/logo/dai-nam-logo-ngang.svg" alt="" />
      </div>
      <div class="row col-12 col-lg-8 mt-4 mt-lg-0 gap-md-0 gap-3">
        <div class="col-md-4 col-12">
          <div class="text-title-footer">Email</div>
          <div class="fw-semibold">tuyensinh@dainam.edu.vn</div>
        </div>
        <div class="col-md-4 col-12">
          <div class="text-title-footer">Điện thoại</div>
          <div class="fw-semibold">(024) 35577799</div>
        </div>
        <div class="col-md-4 col-12">
          <div class="text-title-footer">Hotline</div>
          <div class="d-flex align-items-center gap-2">
            <span class="fw-semibold"> 0961.595.599 </span>
            |
            <span class="fw-semibold">0931.595.599</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-splitter my-5"></div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="fs-5 fw-semibold">
          Phòng Tuyển sinh - Trường Đại học Đại Nam
        </div>

        <ul class="mt-3 list-unstyled">
          <li class="mt-2">Hotline: 0961.595.599 / 0931.595.599</li>
          <li class="mt-2">Email: tuyensinh@dainam.edu.vn</li>
          <li class="mt-2">
            Địa chỉ: Phòng 105, Tòa Central Building - Số 1 Phố Xốm, Phú Lãm, Hà
            Đông, Hà Nội.
          </li>
        </ul>
      </div>
      <div class="row col-12 col-lg-8 mt-4 mt-lg-0 gap-md-0 gap-3">
        <div class="col-lg-4 col-6">
          <div class="fs-5 fw-semibold">Theo dõi Đại Nam</div>

          <ul class="mt-3 list-unstyled">
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/facebook.svg" width="8px" />
              Đại học Đại Nam
            </li>
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/facebook.svg" width="8px" />
              Tuyển sinh Đại học Đại Nam
            </li>
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/facebook.svg" width="8px" />
              Sinh viên Đại học Đại Nam
            </li>
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/facebook-detail.svg" width="8px" />
              Đại học Đại Nam
            </li>
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/youtube.svg" width="8px" />
              Trường Đại học Đại Nam
            </li>
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/tiktok.svg" width="8px" />
              Trường Đại học Đại Nam
            </li>
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/facebook-detail.svg" width="8px" />
              Đại Nam Official
            </li>
            <li class="mt-2 d-flex align-items-center gap-3">
              <img src="assets/logo/facebook.svg" width="8px" />
              Đại học Đại Nam
            </li>
          </ul>
        </div>
        <div class="col-lg-8 col-6">
          <div class="fs-5 fw-semibold">Truy cập nhanh</div>

          <ul class="mt-3 list-unstyled">
            <li class="mt-2">Đề án tuyển sinh 2025</li>
            <li class="mt-2">Phiếu đăng ký xét tuyển 2025</li>
            <li class="mt-2">Tra cứu danh sách trúng tuyển 2025</li>
            <li class="mt-2">Cổng thông tin nhập học</li>
            <li class="mt-2">Thông báo Tuyển sinh Thạc sĩ đợt 1 năm 2025</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4 col-12">
        Copyright @2024. Trường đại học Đại Nam.
      </div>
      <div class="col-lg-8 col-12 mt-3 mt-lg-0 d-flex align-items-center gap-3">
        <img src="assets/icon/location.svg" alt="" />
        <div>
          Địa chỉ:
          <a class="fw-semibold text-decoration-none color-secondary">
            Số 1 Phố Xốm, Phú Lãm, Hà Đông, Hà Nội.
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
