footer {
  background-color: rgba(0, 53, 143, 1);
}
.text-title-footer {
  color: rgba(160, 196, 255, 1);
}
.footer-splitter {
  background-color: rgba(160, 196, 255, 1);
  height: 1px;
  opacity: 0.16;
}
