<link rel="stylesheet" href="components/new-event/new-event.css" />

<section class="new-event py-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-xl-6 col-12 mb-lg-2">
        <h2 class="fw-extra mb-1">Tin tức & Sự kiện nổi bật</h2>
      </div>
      <a
        class="hover-f666 col-6 d-xl-flex d-none gap-2 fw-extra fs-5 align-items-center justify-content-end mb-3"
        href=""
      >
        <div class="fw-bold">Xem tất cả Tin tức & Sự kiện</div>
        <img src="assets/icon/see-all-plus.svg" />
      </a>
    </div>
    <div class="row main-event">
      <a class="col-xl-6 col-12 fs-5 event-item" href="">
        <div class="rounded-12 overflow-hidden mr-20">
          <img
            src="assets/img/new-event-img-main.png"
            width="100%"
            class="new-event-img-main"
          />
        </div>
        <div class="fw-600 mb-lg-2 mb-1 mt-2 event-item-title color-secondary">
          Bản tin đại nam
        </div>
        <div class="fw-extra event-item-content">
          Sinh viên Logistics DNU và hành trình thực tập Nhật Bản - Khởi đầu từ
          ước mơ và khát vọng
        </div>
      </a>
      <div class="col-xl-6 col-12 mt-xl-0 mt-3">
        <a class="fs-5 row event-item new-event-sm align-items-center" href="">
          <div class="col-sm-4 event-item-img">
            <div class="overflow-hidden rounded-12">
              <img src="assets/img/new-event-img-1.png" width="100%" />
            </div>
          </div>
          <div class="col-sm-8 event-item-desc">
            <div
              class="color-secondary fw-600 color-secondary event-item-title mb-lg-2 mb-1"
            >
              Bản tin Đại Nam
            </div>
            <div
              class="color-primary fw-extra color-primary event-item-content"
            >
              Giảng dạy tích cực: Xu hướng tất yếu và chìa khóa dẫn dắt thế hệ
              Gen Z năng động tại Đại học Đại Nam
            </div>
          </div>
        </a>
        <a class="fs-5 row event-item new-event-sm align-items-center" href="">
          <div class="col-sm-4 event-item-img">
            <div class="overflow-hidden rounded-12">
              <img src="assets/img/new-event-img-2.png" width="100%" />
            </div>
          </div>
          <div class="col-sm-8 event-item-desc">
            <div
              class="color-secondary fw-600 color-secondary event-item-title mb-lg-2 mb-1"
            >
              Công nghệ Kỹ thuật điện, điện tử
            </div>
            <div
              class="color-primary fw-extra color-primary event-item-content"
            >
              Bài phát biểu của TS. Lê Đắc Sơn - Chủ tịch Hội đồng trường tại lễ
              Khai giảng và đại nhạc hội chào tân sinh viên K18
            </div>
          </div>
        </a>
        <a class="fs-5 row event-item new-event-sm align-items-center" href="">
          <div class="col-sm-4 event-item-img">
            <div class="overflow-hidden rounded-12">
              <img src="assets/img/new-event-img-3.png" width="100%" />
            </div>
          </div>
          <div class="col-sm-8 event-item-desc">
            <div
              class="color-secondary fw-600 color-secondary event-item-title mb-lg-2 mb-1"
            >
              Bản tin Đại Nam
            </div>
            <div
              class="color-primary fw-extra color-primary event-item-content"
            >
              Sinh viên Y khoa DNU và kỳ thi lâm sàng bệnh viện: Hành trình
              trưởng thành không đơn độc
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="d-flex mt-xl-5 mt-4 overflow-x-auto new-event-bot mr-sm-n20">
      <a class="new-event-item event-item fs-5" href="">
        <div class="overflow-hidden rounded-12">
          <img
            src="assets/img/new-event-img-bot-1.png"
            class="new-event-img-bot"
            width="100%"
          />
        </div>
        <div
          class="event-bot-title mt-2 mb-1 my-lg-3 d-flex justify-content-between align-items-center"
        >
          <div class="fw-600 color-secondary event-item-title">
            Sự kiện cấp trường
          </div>
          <div class="color-primary fw-medium">Thứ 5, 12/11/2024</div>
        </div>
        <div class="event-item-content fw-extra">
          Sinh viên Logistics DNU và hành trình thực tập Nhật Bản - Khởi đầu từ
          ước mơ và khát vọng
        </div>
      </a>
      <a class="new-event-item event-item fs-5" href="">
        <div class="overflow-hidden rounded-12">
          <img
            src="assets/img/new-event-img-bot-2.png"
            class="new-event-img-bot"
            width="100%"
          />
        </div>
        <div
          class="event-bot-title mt-2 mb-1 my-lg-3 d-flex justify-content-between align-items-center"
        >
          <div class="fw-600 color-secondary event-item-title">
            Sự kiện cấp trường
          </div>
          <div class="color-primary fw-medium">Thứ 5, 12/11/2024</div>
        </div>
        <div class="event-item-content fw-extra">
          Lễ Khai giảng năm học 2024 - 2025 và Đại nhạc hội Chào tân sinh viên
          K18
        </div>
      </a>
      <a class="new-event-item event-item fs-5" href="">
        <div class="overflow-hidden rounded-12">
          <img
            src="assets/img/new-event-img-bot-3.png"
            class="new-event-img-bot"
            width="100%"
          />
        </div>
        <div
          class="event-bot-title mt-2 mb-1 my-lg-3 d-flex justify-content-between align-items-center"
        >
          <div class="fw-600 color-secondary event-item-title">
            Sự kiện cấp khoa
          </div>
          <div class="color-primary fw-medium">Thứ 5, 12/11/2024</div>
        </div>
        <div class="event-item-content fw-extra">
          DAI NAM UNI FAREWELL NIGHT - THE SUMMER MEMORIES
        </div>
      </a>
    </div>

    <a
      class="d-xl-none d-flex gap-2 fw-extra fs-5 fs-lg-18 align-items-center mt-4"
      href=""
    >
      <div class="fw-bold">Xem tất cả Tin tức & Sự kiện</div>
      <img src="assets/icon/see-all-plus.svg" height="19" width="19" />
    </a>
  </div>
</section>
