/* new-event */
.event-item * {
  transition: all 0.15s ease-in;
}
.event-item img:hover {
  transform: scale(1.05);
}
.event-item .event-item-title:hover {
  color: #ff4000;
}
.event-item .event-item-content:hover {
  color: #f66600;
}
.new-event-sm:first-child {
  padding-bottom: 1.3rem;
}
.new-event-sm:not(:last-child) {
  border-bottom: 1px solid rgba(218, 220, 224, 0.85);
}
.new-event-sm:not(:first-child) {
  padding: 1.3rem 0;
}
.main-event {
  --bs-gutter-x: 3.3rem;
}
.new-event-item {
  min-width: 330px;
  width: calc(33.33vw - 1rem);
  max-width: 450px;
}
.event-item-img img {
  height: 123px;
  object-fit: cover;
}
.event-item-img {
  padding-left: 0;
}
.new-event-img-main {
  object-fit: cover;
  aspect-ratio: 1.69;
}
.new-event-img-bot {
  aspect-ratio: 1;
}
.new-event-bot {
  gap: 30px;
}
@media (min-width: 1200px) {
  .new-event {
    padding-bottom: 60px !important;
  }
}
@media (max-width: 1199.98px) {
  .new-event-sm:first-child {
    border-top: 1px solid rgba(218, 220, 224, 0.85);
    padding-top: 1rem;
  }
  .new-event-sm:not(:first-child) {
    padding: 1rem 0;
  }
  .new-event-sm:last-child {
    border-bottom: 1px solid rgba(218, 220, 224, 0.85);
  }
  .new-event {
    padding: 2rem 0 !important;
  }
}

@media (max-width: 767.98px) {
  .new-event-sm * {
    font-size: 14px;
  }
  .new-event-sm:last-child {
    padding-bottom: 1.3rem;
  }
  .new-event-item * {
    font-size: 16px;
  }
  .event-item-img .rounded-12 {
    border-radius: 0.5rem !important;
  }
  .event-item-img {
    padding: 0 0 0 20px;
  }
  .event-item-img img {
    height: 72px;
  }
  .new-event-bot {
    gap: 22px;
    padding-bottom: 0.75rem;
  }
  .event-item-title {
    font-size: 13px;
    line-height: 18px;
  }
  .event-item-content {
    font-size: 14px;
    line-height: 22px;
  }
  .new-event .row {
    --bs-gutter-x: 1.6rem;
  }
  .event-bot-title * {
    font-size: 13px;
  }
}
